@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

.h1_page{
  margin-top: 150px;
  text-align: center;
  color: goldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-size: 6rem;
  animation: glow 2s infinite; 
  text-transform: capitalize;
}

.h1_page a {
  text-decoration: none;
  color: goldenrod;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 223, 0, 0.8);
  }
  50% {
    text-shadow: 0 0 20px rgb(25, 25, 23);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 223, 0, 0.8);
  }
}

p,h3{
  color: white;
  font-size: 2rem;
  margin-bottom: 15px;
  text-transform: none;
}




.li_pages{
  list-style: circle;
  
  text-align: left;
  color: white;
  font-size: 2rem;
}
.li_pages li{
  margin-bottom: 10px;
}
.li_pages li:hover{
  color: rgb(255, 235, 108);
}

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}


html {
  font-size: 62.5%; /* = 10px  */
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  margin-bottom: 100px;
}

.header .logo img {
  height: 6rem;
}

.header .navbar ul{
list-style: none;

}

.header .navbar ul li{
  position: relative;
  float: left;
  
}


.header .navbar ul li a{
  margin: 0 1rem;
  font-size: 2rem;
  color: #fff;
  margin-right: 9rem;
  display: block;
}



.header .navbar ul li a:hover {
  color: goldenrod;
  /*border-bottom: 0.01rem solid var(--main-color);*/
}

.header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 25rem;
  background-color:rgba(0, 0, 0, 1);
  display: none;
}

.header .navbar ul li ul li{
width: 100%;
border-top: 1px solid rgba(0, 0, 0, 0.1);
padding-top: 1.5rem;
margin-top: 1rem;
padding-bottom: 1rem;
}



h2{
  margin-bottom: 20px;
  text-align: left;
  color: goldenrod;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  text-transform: capitalize;
}

.header .navbar ul li ul li ul{
left: 220px;
top: 	0;
}


.header .navbar ul li:focus-within >ul,
.header .navbar ul li:hover >ul{
  display: initial;
}

.header .navbar ul li ul li a{
  width: 90%;
}

footer {
    background-color:var(--black);
    color: var(--main-color);
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
}

.home{
    min-height: 100vh;
    min-width: 100vh;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    text-align: center;
    background: no-repeat center/cover;
    
}

.fadeIn {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0.4; }
    100% { opacity: 1; }
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 20px 10%;
}

.games .t_vid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  

}
.games .t_img_row{
  display: flex;
  gap: 50px;
  flex-direction: row;
  justify-content: space-evenly;
}

.games .t_img_col{
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}


.bodylog 
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: #000;
  overflow-y: hidden;
}

.sectionlog
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  padding-top: 50px ;
  flex-wrap: wrap;
  overflow: hidden;
}

.sectionlog .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 30px;
}

.sectionlog .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.sectionlog .signin .content h2 
{
  font-size: 2.5rem;
  color: goldenrod;
  text-transform: uppercase;
  font-family: sans-serif;
}
.sectionlog .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.sectionlog .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
.sectionlog .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}


.sectionlog .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
  font-size: 1.2rem;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 1.3rem;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  
  justify-content:right;
}
.signin .content .form .links a 
{
  color: goldenrod;
  text-decoration: none;
  font-size: 2rem;
}
.signin .content .form .links a:nth-child(2)
{
  color:goldenrod;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: goldenrod;
  color: #000;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.5;
}
